.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin: 0px;
  padding: 0px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  background-color: #183c00;
  height: 30px;
  display: block;
  justify-content: space-between;
  align-items: center;
  color: #FFF !important;
}

.navbar-brand {
  padding: 0;
}

.navbar-nav {
  align-items: center;
}

.navbar a {
  height: 30px;
  padding: 5px 10px;
}

.navbar .nav-link {
  color: #FFF !important;
}

.navbar .active {
  background-color: #c89306;
  color: #FFF;
}

.myOptions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.myOptions div {
  margin-right: 20px;
}

div [role=combobox] .menu {
  height: 300px;
}